.done-true {
  text-decoration: line-through;
  color: grey;
}
.widelix {
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=124, Color=#000000)";/*IE 8*/
text-shadow: 2px 3px 5px rgba(0,0,0,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
background: -moz-linear-gradient(75deg, #CCDECE 0, #E0FFE0 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 75deg, color-stop(0, CCDECE), color-stop(100%, E0FFE0));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(75deg, #CCDECE 0, #E0FFE0 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(75deg, #CCDECE 0, #E0FFE0 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(75deg, #CCDECE 0, #E0FFE0 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
background: linear-gradient(75deg, #CCDECE 0, #E0FFE0 100%);/* W3C */
color: #193100;
text-align: center;
font-style: oblique;
border: 2px inset;
max-height:70px;
overflow:auto;
margin-top: 0px;
}